Checks:
    "clang-diagnostic-*, \
    clang-analyzer-*, \
    cppcoreguidelines-*, \
    bugprone-*, \
    modernize-*, \
    misc-*, \
    performance-*, \
    llvm-*, \
    readability-*, \
    portability-*"
