@import url("https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/3.0.1/modern-normalize.min.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:opsz@14..32&display=swap");

body {
  margin: 0;
}

canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  /* display: block; */
}

header {
  background-color: #181818;
}

h1 {
  font-family: "Inter", sans-serif;
  font-size: 2.5rem;
  margin: 0;
  padding: 1rem;
  color: #ffffff;
}
