name: 'CI'

on:
  push:
    branches: [ main ]
  pull_request:
  workflow_dispatch:

jobs:
  lint:
    uses: ./.github/workflows/lint.yml

  build:
    uses: ./.github/workflows/build.yml
    needs: lint

  test:
    permissions:
      contents: read
      id-token: write
    uses: ./.github/workflows/test.yml
    needs: build
