on:
  workflow_dispatch:

jobs:
  deploy-pages:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      contents: read
      pages: write
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - uses: actions/download-artifact@v4
        with:
          path: build
          merge-multiple: true
      - uses: actions/configure-pages@v5
      - uses: actions/upload-pages-artifact@v3
        with:
            path: '.'
      - uses: actions/deploy-pages@v4
        id: deployment
