on:
  push:
    branches: [ main ]

jobs:
  build:
    uses: ./.github/workflows/build.yml

  publish-gpr:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
      id-token: write
    needs: build
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 'latest'
          registry-url: https://npm.pkg.github.com/
      - uses: actions/download-artifact@v4
        with:
          path: build
          merge-multiple: true
      - run: |
          NEW_VERSION=$(npm version minor --no-git-tag-version)
          npm version $NEW_VERSION-next-${{ github.sha }} --no-git-tag-version
      - run: npm publish --provenance --access public --tag next
        env:
          NODE_AUTH_TOKEN: ${{secrets.GITHUB_TOKEN}}
